<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="projectExam.Properties.Settings.GestionEtudiantFiliereConnectionString"
                        connectionString="Data Source=DESKTOP-5F91A78\SQLEXPRESS01;Initial Catalog=GestionEtudiantFiliere;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>